<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CIPS.DB.Properties.Settings.ConnectionString" connectionString="Data Source=cips;Persist Security Info=True;User ID=cips06_01;Password=cips06_01;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>