<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dictionary2CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="WebService" value="http://192.168.1.11/Dictionary/Service.asmx" />
  </appSettings>
  <applicationSettings>
    <Dictionary2CS.Properties.Settings>
      <setting name="Dictionary2CS_DbWebSvc_DbWebSvc" serializeAs="String">
        <value>http://172.168.0.224/ETH.Goods.WebSvc/DbWebSvc.asmx</value>
      </setting>
    </Dictionary2CS.Properties.Settings>
  </applicationSettings>
</configuration>